<!DOCTYPE html>
<html>
  <head>
    <title>FlickrFeed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class='notification is-danger global-notification'>
        <p class='notice'><%= notice %></p>
      </div>
    <% end %>
    <section class='hero is-info'>
      <div class='hero-body'>
        <div class='container has-text-centered'>
          <p class='title'><%= link_to 'flickr-feed', root_path %></p>
        </div>
      </div>
    </section>  
    <%= yield %>
  </body>
</html>
